name: pull-request
on:
  pull_request:

jobs:
  lint:
    name: eslint & prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup pnpm
        uses: valian-ca/github-workflows/.github/actions/setup-pnpm@main
      - name: eslint
        run: pnpm eslint
      - name: prettier
        run: pnpm lint:prettier
      - name: publint
        run: pnpm lint:publint

  type-check:
    name: type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup pnpm
        uses: valian-ca/github-workflows/.github/actions/setup-pnpm@main
      - name: type-check
        run: pnpm run type-check

  tests:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: setup pnpm
        uses: valian-ca/github-workflows/.github/actions/setup-pnpm@main
      - name: tests
        run: pnpm test

  markdown:
    name: markdown lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: '**/*.md'
